.background {
	width: 1004px;
	height: 1482px;
	border: 1px solid;
	border-color: rgb(26, 57, 103);
	margin: 0 auto;
	text-align: left;
	background-repeat: no-repeat;
	background-image: url(../image/show_all_project.jpg);
}
.nav_bulb{
	margin-top: 80px;
	margin-left: 250px;
	width: 630px;
	height: 50px;
	/* background-color: red; */
}
/* µº∫Ω¿∏ */
.nav {
	float:left;
	width: 530px;
	height: 50px;
	transform: rotate(6.5deg);
	-ms-transform: rotate(6.5deg); /* Internet Explorer */
	-moz-transform: rotate(6.5deg); /* Firefox */
	-webkit-transform: rotate(6.5deg); /* Safari ∫Õ Chrome */
	-o-transform: rotate(6.5deg); /* Opera */
}
/* ¡Ù—‘∞Â–°µ∆≈›*/
.bulb {
	margin-top:5px;
	margin-left: 10px;
	float:left;
	width:84px;
	height: 27px;
/* 	background-color: black; */
}

.body {
	margin-top: 310px;
	width: 700px;
	height: 800px;
	margin-left: 140px;
	border: 1px solid #2C70AF;
}
.project{
	margin-top: 30px;
	width: 640px;
	height: 740px;
	margin-left: 30px;
	

}
.project_body {
	width: 640px;
	height: 280px;
	margin-left: 0px;
	/*  background-color: silver; */
}

.project_picture {
	float: left;

}

.project_name {
	width:249px;
	height:200px;
	margin-left:10px;
	margin-top:40px;
	float: left;
/* 	background-color: yellow; */

}

.project_details {
	width:640px;
	height:440px;
/*  	background-color: yellow; */
}
.project_goback{
	width:160px;
	height:20px;
	margin-top:6px;
/* 	background-color: blue; */
}
a:link {
	color: #CDCDCD;
	text-decoration: none;
}

a:active {
	color: #CDCDCD;
	text-decoration: none;
}

a:visited {
	color: #CDCDCD;
	text-decoration: none;
}

a:hover {
	color: #CDCDCD;
	text-decoration: underline;
}

.copyright{
	margin-top: 150px;
	margin-left:320px;
	width: 380px;
	height:50px;
	/* border:1 solid red; */
	float:left;
	text-align:center;
	
}
